[run]
omit = django_users/tests/*
	   *settings.py
	   *__init__.py
	   *wsgi.py
	   *asgi.py
	   *manage.py
	   *setup.py
	   *fields.py
	   *tests.py

source = .

branch = True

[report]
fail_under = 100
show_missing = True
skip_covered = True